@use '../abstract' as *;
@use  '../component' as *;

.banner{
    min-height: 60rem;
    @include flex(center,center);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

.banner--nxtgen{
    background-image: url('../../img/activities/nxtgenBanner-sm.jpg');
    @include mediaQuery {
        background-image: url('../../img/activities/nxtgenBanner.jpg');
    }
}

.nxtgen{
    h3{
        font-size: clamp(3rem,  6vw, 5rem);
        font-family: "Speedee-Bold";
    }
    h4{
        font-size: clamp(3rem, 6vw, 3rem);
    }
    iframe {
        aspect-ratio: 16/ 9;
    }
}
