@use '../abstract' as *;

/* Colors */
$colors: (
    "primary": $clr-primary,
    "accent": $clr-accent,
    "neutral": $clr-neutral,
    "dark": $clr-dark,
);

@each $key, $val in $colors{
    .bg-#{$key} {
        background-color: #{$val};
    }
    .text-#{$key}{
        color: #{$val};
    }
}

/* Displays */
$displays: flex, grid, block, inline;

@each $display in $displays{
    .#{$display} {
        display: #{$display};
    }
}

$alignments: left, center, right, justify;

@each $alignments in $alignments{
    .text-#{$alignments} {
        text-align: #{$alignments};
    }
}

/* Loop of Margin */
@for $i from 1 through 10 {
    .mb-#{$i} {
        margin-bottom: #{$i}rem;
    }
    .mx-#{$i} {
        margin: 0 #{$i}rem;
    }
    .p-#{$i} {
        padding: #{$i}rem;
    }
    .py-#{$i} {  
        padding: 0 #{$i}rem;
    }
}

$width: (
    "full" : 100%,
    "1-2": 90%,
    "1-4": 25,
    "1-3": 33.3%,
);

@each $key, $val in $width{
    .w-#{$key} {
        width: #{$val};
    }
}
